.teacher-home{
display:flex;
flex-direction:column;
gap:24px;
}

/* TOP LAYOUT */

.teacher-home > div:first-child{
display:grid;
grid-template-columns:2fr 520px;
gap:20px;
align-items:start;
}

/* HERO */

.hero{
display:grid;
height:800px;
grid-template-columns:2fr 1fr;
gap:24px;
background:linear-gradient(135deg,#694cff,#ddb5ff);
padding:30px;
border-radius:30px;
color:white;
align-self:start;
height: 100px;
}

.hero-right img{
width:100%;
height:320px;
object-fit:cover;
border-radius:24px;
}

.hero h1{
font-size:52px;
}

.hero-stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:14px;
margin-top:25px;
}

.mini-card{
background:white;
color:#091436;
padding:20px;
width:120px;
height: 130px;
border-radius:18px;
}

.mini-card h2{
margin-top:10px;
font-size:34px;
}

/* ACTION */

.action-row{
display:flex;
gap:12px;
margin-top:20px;
}

.action-btn{
height:50px;
padding:0 24px;
border:none;
border-radius:14px;
background:white;
color:#5d3fff;
font-weight:700;
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
transition:.25s;
}

.action-btn:hover{
transform:translateY(-2px);
box-shadow:0 12px 30px rgba(93,63,255,.2);
}

/* REQUEST */

.requests{
background:white;
padding:28px;
border-radius:24px;
height:fit-content;
align-self:start;
}

.request{
margin-top:16px;
padding:20px;
border:1px solid #eee;
border-radius:16px;
}

.request button{
margin-right:10px;
margin-top:14px;
height:42px;
padding:0 18px;
border:none;
border-radius:12px;
background:#6645ff;
color:white;
cursor:pointer;
}

/* POPUP */

.popup-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.45);
display:flex;
justify-content:center;
align-items:center;
z-index:99999;
padding:20px;
}

.popup-window{
width:95%;
max-width:1500px;
height:90vh;
overflow:auto;
background:white;
border-radius:30px;
padding:20px;
position:relative;
box-shadow:0 40px 80px rgba(0,0,0,.15);
}

.close-popup{
position:absolute;
top:20px;
right:20px;
width:42px;
height:42px;
border:none;
border-radius:50%;
background:#f3f4ff;
cursor:pointer;
font-size:20px;
font-weight:700;
}

.close-popup:hover{
background:#694cff;
color:white;
}

/* BELOW HERO */

.dashboard-overview-row{
width:calc(100% - 540px);
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
margin-top:-430px;
margin-right:auto;
align-items:stretch;
}

/* SAME SIZE CARDS */

.schedule-card,
.performance-card{
background:#fff;
border-radius:24px;
padding:28px;
box-shadow:0 10px 30px rgba(0,0,0,.05);
height:420px;
width:100%;
display:flex;
flex-direction:column;
overflow:hidden;
}

/* HEADER */

.card-head{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.card-head h3{
font-size:32px;
font-weight:700;
margin:0;
}

.month-btn{
border:none;
background:none;
color:#5c46ff;
font-size:15px;
font-weight:700;
cursor:pointer;
display:flex;
align-items:center;
gap:8px;
}

/* PERFORMANCE */

/* =========================
   PERFORMANCE SECTION
========================= */

/* ==========================================
   TODAY'S SCHEDULE → TABLE ALIGNMENT
   ADD THIS AT END OF FILE
========================================== */

.schedule-card{
background:#fff;
border-radius:24px;
padding:28px;

height:420px;

display:flex;
flex-direction:column;

overflow:hidden;
}

/* HEADER */

.schedule-card .card-head{
display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:22px;
}

.schedule-card .card-head h3{
font-size:20px;
font-weight:800;
color:#15163c;
}

.view-btn{
border:none;
background:transparent;

font-size:14px;

font-weight:700;

color:#8b90a7;

cursor:pointer;
}

/* TABLE */

.timeline{

display:flex;

flex-direction:column;

width:100%;

margin-top:4px;

}

/* ROW */

.timeline-row{

display:grid;

grid-template-columns:
120px
1fr
130px;

align-items:center;

height:72px;

padding:0 6px;

border-bottom:1px solid #eff0f7;

}

/* TIME */

.time{

font-size:18px;

font-weight:700;

color:#6d738d;

}

/* EVENT */

.event{

font-size:18px;

font-weight:600;

color:#2a2d43;

padding-left:16px;

}

/* BUTTON */

.schedule-btn{

width:110px;

height:42px;

border:none;

border-radius:12px;

background:#f2edff;

color:#5b4bff;

font-size:15px;

font-weight:700;

cursor:pointer;

justify-self:end;

transition:.25s;

}

.schedule-btn:hover{

background:#5b4bff;

color:#fff;

}

.timeline-row:last-child{
border-bottom:none;
}

/* RESPONSIVE */

@media(max-width:900px){

.timeline-row{

grid-template-columns:1fr;

height:auto;

row-gap:10px;

padding:18px 0;

text-align:center;

}

.event{
padding-left:0;
}

.schedule-btn{
justify-self:center;
}

}
/* LEFT */

.score-box{

height:140px;

border:1px solid #ececf6;

border-radius:18px;

padding:22px;

display:flex;

flex-direction:column;

justify-content:center;

background:#fff;

}

.score-box p{

margin:0;

font-size:14px;

font-weight:600;

color:#8a8fa6;

line-height:1.5;

}

.score-box h1{

margin:10px 0;

font-size:54px;

font-weight:800;

line-height:1;

color:#5848ff;

}

.score-box span{

font-size:14px;

font-weight:700;

color:#16b364;

}

/* CENTER */

.circle-score{

display:flex;

justify-content:center;

align-items:center;

}

.circle-inner{

width:145px;

height:145px;

border-radius:50%;

border:10px solid #5b4bff;

border-left-color:#ecebff;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#fff;

}

.circle-inner strong{

font-size:52px;

font-weight:800;

line-height:1;

color:#141625;

}

.circle-inner p{

margin-top:6px;

font-size:16px;

color:#7d8199;

}

/* RIGHT */

.stats{

border:1px solid #ececf6;

border-radius:18px;

padding:24px;

display:flex;

flex-direction:column;

justify-content:center;

gap:22px;

height:165px;

}

.stats div{

display:grid;

grid-template-columns:
14px
1fr
auto;

align-items:center;

column-gap:14px;

font-size:16px;

font-weight:700;

color:#23263d;

}

.stats div::before{

content:"";

width:10px;

height:10px;

border-radius:50%;

}

/* COLORS */

.stats div:nth-child(1)::before{
background:#22c55e;
}

.stats div:nth-child(2)::before{
background:#ff4d4f;
}

.stats div:nth-child(3)::before{
background:#6a4cff;
}

.stats div:nth-child(4)::before{
background:#60a5fa;
}

.stats b{

font-size:16px;

font-weight:800;

color:#15163c;

}

/* MOBILE */

@media(max-width:1100px){

.performance-content{

grid-template-columns:1fr;

gap:24px;

justify-items:center;

}

.score-box,
.stats{

width:100%;

max-width:420px;

}

}

/* EXTRA SECTION */

.dashboard-extra-grid{

width:calc(100% - 540px);

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:50px;

margin-top:20px;

}

.extra-card{

background:#fff;

border-radius:20px;

padding:18px;

box-shadow:0 8px 30px rgba(0,0,0,.05);

height:550px;

display:flex;

flex-direction:column;

}

.extra-head{

display:flex;

justify-content:space-between;

margin-bottom:18px;

}

.extra-head h3{

font-size:20px;

margin:0;

}

.extra-head button{

border:none;

background:none;

color:#6b4cff;

font-weight:700;

cursor:pointer;

}

.attendance-table{

width:100%;

border-collapse:collapse;

}

.attendance-table th,
.attendance-table td{

padding:10px;

text-align:left;

font-size:14px;

}

.progress{

height:6px;

background:#ececff;

border-radius:99px;

margin-top:6px;

}

.progress span{

display:block;

height:100%;

width:85%;

background:#22c55e;

border-radius:99px;

}

.list{

display:flex;

flex-direction:column;

gap:14px;

flex:1;

}

.list div{

display:flex;

justify-content:space-between;

}

.full-btn{

height:42px;

border:none;

border-radius:12px;

background:#654bff;

color:white;

font-weight:700;

cursor:pointer;

}

.student-bars{

display:flex;

flex-direction:column;

gap:16px;

}

.student-bars div{

display:grid;

grid-template-columns:
1fr
1fr;

gap:14px;

}

.student-bars progress{

width:100%;

height:8px;

}

.quick-grid{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:12px;

margin-top:10px;

}

.quick-grid button{

height:72px;

border:none;

background:#f7f6ff;

border-radius:16px;

font-weight:700;

cursor:pointer;

}

@media(max-width:1200px){

.dashboard-extra-grid{

width:100%;

grid-template-columns:1fr;

}

}
/* ===========================
   PREMIUM HERO SECTION
=========================== */

.hero{
height:540px;
background:linear-gradient(
135deg,
#f7f4ff 0%,
#efeaff 45%,
#d6c5ff 100%
);
border-radius:34px;
padding:32px 36px;
display:grid;
grid-template-columns:1.7fr 520px;
gap:30px;
overflow:hidden;
position:relative;
box-shadow:
0 18px 50px rgba(102,76,255,.12);
}

.hero::before{
content:"";
position:absolute;
top:-150px;
left:200px;
width:500px;
height:500px;
border:1px solid rgba(255,255,255,.55);
border-radius:50%;
}

.hero-left{
display:flex;
flex-direction:column;
justify-content:center;
}

.welcome-badge{
display:inline-flex;
align-items:center;
width:max-content;
padding:10px 18px;
background:#ede8ff;
border-radius:30px;
font-size:14px;
font-weight:700;
color:#5b4bff;
margin-bottom:22px;
}

.welcome{
font-size:22px;
font-weight:500;
color:#202344;
margin-bottom:10px;
}

.hero h1{
font-size:72px;
font-weight:800;
line-height:1;
margin:0;
background:linear-gradient(
90deg,
#5639ff,
#7d57ff
);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}

.sub{
margin-top:18px;
font-size:30px;
color:#596080;
font-weight:500;
}

.hero-stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:14px;
margin-top:28px;
flex-direction:row;

}

.mini-card{
background:#fff;
border-radius:22px;
padding:20px;
height:142px;
width: 200px;
display:flex;
flex-direction:column;
justify-content:center;
box-shadow:
0 6px 20px rgba(0,0,0,.04);
}

.card-icon{
width:35px;
height:40px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin-bottom:12px;
font-size:18px;
}

.blue{
background:#dbe8ff;
color:#2962ff;
}

.green{
background:#d8f7e5;
color:#16a34a;
}

.purple{
background:#efe7ff;
color:#7c3aed;
}

.orange{
background:#ffe8cf;
color:#f97316;
}

.mini-card span{
font-size:15px;
font-weight:600;
color:#202344;
}

.mini-card h2{
font-size:42px;
font-weight:800;
margin-top:8px;
}

.blue-text{
color:#2962ff;
}

.green-text{
color:#16a34a;
}

.purple-text{
color:#6d4cff;
}

.orange-text{
color:#f97316;
}

/* BUTTONS */

.action-row{
display:flex;
gap:16px;
margin-top:16px;
}

.action-btn{
height:58px;
padding:0 28px;
border-radius:18px;
font-size:18px;
font-weight:700;
display:flex;
align-items:center;
gap:10px;
cursor:pointer;
transition:.3s;
}

.action-btn:first-child{
background:#5b3fff;
color:#fff;
}

.action-btn:not(:first-child){
background:#fff;
color:#5b3fff;
}

.action-btn:hover{
transform:translateY(-3px);
box-shadow:
0 16px 30px rgba(91,63,255,.18);
}

/* IMAGE SECTION */

.hero-right{
position:relative;
display:flex;
align-items:center;
justify-content:center;
padding-left: 0 28px;
}

.hero-right::before{
content:"";
position:absolute;
inset:-14px;
border:2px solid rgba(255,255,255,.7);
border-radius:30px;
}

.hero-right img{
width:500px;
height:390px;
object-fit:cover;
border-radius:26px;
box-shadow:
0 20px 40px rgba(107,76,255,.18);
}

/* RESPONSIVE */

@media(max-width:1400px){

.hero{
grid-template-columns:1fr;
height:auto;
}

.hero-right img{
height:300px;
}

.hero-stats{
grid-template-columns:repeat(2,1fr);
}

}