.upload-overlay{

position:fixed;

top:0;

left:0;

width:100vw;

height:100vh;

background:
rgba(0,0,0,.55);

display:flex;

justify-content:center;

align-items:center;

z-index:999999;

padding:20px;

}

.upload-modal{

width:650px;

max-width:100%;

background:white;

padding:40px;

border-radius:30px;

display:flex;

flex-direction:column;

gap:18px;

position:relative;

box-shadow:
0 40px 90px
rgba(0,0,0,.15);

}

.close-btn{

position:absolute;

right:20px;

top:20px;

width:45px;

height:45px;

border:none;

border-radius:50%;

cursor:pointer;

}

.upload-modal h2{

font-size:34px;

}

.upload-modal input,
.upload-modal select{

padding:18px;

border:1px solid #ddd;

border-radius:14px;

}

.upload-actions{

display:flex;

justify-content:flex-end;

gap:12px;

}

.upload-actions button{

height:54px;

padding:0 30px;

border:none;

border-radius:14px;

cursor:pointer;

}

.upload-actions button:last-child{

background:#6648ff;

color:white;

}